.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 50px 0 20px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-grow {
    flex-grow: 1;
}

.links li {
    display: inline-block;
    margin-bottom: 30px;
}

.links li>a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.links li>a:hover,
.svg-inline--fa:hover>path {
    color: #169791;
}

#menu li {
    margin-right: 60px;
}